<div class="deck-container">

  <div class="row" >
        <div class="col-md-2">
    
      <div class="list-group">
        <a href="#" class="list-group-item" ng-repeat="deck in decker.user.decks" ng-class="decker.deckClass(deck)" ng-click="decker.selectDeck(deck)">
          {{deck.name}}
        </a>
      </div>
      
        <button type="button" id="buttonAddDeck" class="btn btn-lg btn-default">New Deck</button>
    
    </div>
        <div class="col-md-2">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="card in decker.selectedDeck.cards" ng-click="decker.removeCard(card)">x{{card.count}} {{card.card.name}}</li>
      </ul>
    
    
    </div>
        <div class="col-md-8">
    
          <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Health</th>
              <th>Attack</th>
              <th>Manacost</th>
              <th>Mechanic</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="card in decker.cards" ng-click="decker.addCard(card)">
              <td>{{card.name}}</td>
              <td>{{card.health}}</td>
              <td>{{card.attack}}</td>
              <td>{{card.cost}}</td>
              <td>{{card.power}}</td>
            </tr>
          </tbody>
        </table>

      
    
    
    
    
    </div>
      </div>
   
</div>    

  
