.xcard {
	margin: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-top: 2px;
	width: 110px;
	height: 135px;
	background-color: white;
	border-radius: 0 10px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	translition-duration: 0.3s;
	translition-property: box-shadow;
}


.xcard:hover, .xcard-glow:focus, .xcard-glow:active {
	box-shadow: 0 0 8px black;	
}

.xcard-available {
	border-color: green;
}	

.xcard-unavailable {
	border-color: red;
}	
	
.xcard-props {
	display: -webkit-flex; 
	display: flex;
}


.xcard-prop {
	height: 18px;
	font-size: 14px;
	font-style: 26px;
	font-weight: bold;
}


.xcard-header { 
	font-size: 12px;
}


.xcard-power {
	height: 20px;
	line-height: 15px;
	font-size: 10px;
}



.xcard-prop-at i {
	color: blue;
}


.xcard-prop-hp i {
	color: red;
	text-align: righ
}


.xcard-prop-mp i {
	color: green
}


.xcard-prop-at {
	width: 50px;
	margin-top: 5p
}


.xcard-prop-hp {
	width: 50px;
	margin-top: 5px;  
	text-align: right;
}


.xcard-prop-mp { 
	position: relative; 
	float: right;
}
.unselectable {   
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}