<div class="row col-sm-6 col-sm-offset-3">
  <div class="jumbotron">
<h1 class="form-signin-heading">Sign Up</h1>
  <form class="form-signin" ng-submit="login.doSignup()">


    <label>Username</label>
    <input type="username" id="inputUsername" class="form-control"
           ng-model="login.loginData.username" required autofocus >

    <label >Password</label>
    <input type="password" id="inputPassword" class="form-control" ng-model="login.loginData.password"  required>

    <label >Confirm Password</label>
    <input type="password" id="inputConfirmPassword" class="form-control"
           ng-model="login.loginData.confirmPassword"  required>

      <div class="alert alert-danger" ng-if="login.error">
          {{ login.error }}
      </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>

  </div>
</div>
