<!DOCTYPE html>
<html lang="en">
  <head>
    <title>aGame - Sigh Up</title>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="./signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" ng-submit="login.doLogin()">
        <h2 class="form-signin-heading">Create your aGame Account</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="username" id="inputUsername" class="form-control" placeholder="Username"
               ng-model="login.loginData.username" required autofocus >
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control"
               ng-model="login.loginData.password" placeholder="Password" required>
		<label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      </form>

    </div> <!-- /container -->


    
  </body>
</html>
